.icon-24 {
    width: 24px;
    height: 24px;
    min-width: 24px;
    background-color: #C5CCD5;
    mask-image: url("../../assets/icons/ICON.svg");
    mask-repeat: no-repeat;
}
.icon-32 {
    width: 32px;
    height: 32px;
    min-width: 32px;
    background-color: #C5CCD5;
    mask-image: url("../../assets/icons/ICON.svg");
    mask-repeat: no-repeat;
}

.icon-16{
    width: 16px;
    height: 16px;
    min-width: 16px;
    mask-image: url(../../assets/icons/ICON.svg);
    mask-repeat: no-repeat;
}

.icon-20{
    width: 20px;
    height: 20px;
    min-width: 20px;
    mask-image: url(../../assets/icons/ICON.svg);
    mask-repeat: no-repeat;
}

.icon-sb-recruiment {
    mask-position: -94px -113px;
}

.icon-sb-candidate-active {
    mask-position: -24px -112px;
}

.icon-sb-calendar {
    mask-position: -144px -113px;
}

.icon-sb-talent-pools {
    mask-position: 0px -112px;
}

.icon-sb-recruitment-campaign-active {
    mask-position: -73px -633px;
}

.icon-sb-task {
    mask-position: -336px -113px;
}

.icon-email-ai-marketing {
    mask-position: -160px -248px;
}

.icon-chat-box {
    mask-position: -72px -845px;
}

.icon-sb-report {
    mask-position: -72px -113px;
}

.icon-sb-setting {
    mask-position: 0px -136px;
}
.icon-filter{
    mask-position:-40px -656px;
    background-color: #6b7280;
}

.icon-dropdown-btn { 
    background-color: #7a8188;;
    mask-position: -32px -48px;
}

.icon-knowladge { 
    width: 32px;
    height: 32px;
    background-position: center;
    background-size: 24px;
    background-repeat: no-repeat;
    overflow: unset;
    margin-left: -3px;
    background-image: url(../../assets/icons/knowladge.svg);
    border-radius: 50%;
}

.icon-left {
    mask-position: -58px -693px;
}

.icon-switch-app {
    width: 24px;
    height: 24px;
    min-width: 24px;
    background-image: url(../icons/icon-swich-app.svg);
}

.icon-notification-version {
    background: url(../icons/icon-noti.svg) no-repeat center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 24px;
    height: 24px;
}

.icon-store {
    height: 20px;
    aspect-ratio: 1 / 1;
    background: url(../icons/icon-store.svg) no-repeat center;
    background-size: 20px 20px;
    cursor: pointer;
}

.recruitment-page-icon {
    mask-position: 0px -608px;
    background-color: rgba(128, 128, 128, 0.497);
    margin-top: 4px;
}

.icon-user-controlpanel {
    position: relative;
    background-image: url(../icons/user_controlpanel.svg);
    width: 32px;
    height: 32px;
    margin-top: 0;
    border-radius: 16px;
    background-position: center;
    background-size: 24px;
    background-repeat: no-repeat;
    overflow: unset;
    cursor: pointer;
}

.icon-user-controlpanel:hover,
.icon-messgae:hover,
.icon-noti:hover,
.icon-helpmenu:hover,
.icon-other:hover,
.icon-knowladge:hover {
    background-color: #1e26331d;
}

.icon-messgae {
    background-image: url(../icons/message.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    position: relative;
    cursor: pointer;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.icon-noti {
    border-radius: 50%;
    cursor: pointer;
    width: 32px;
    height: 32px;
    font-size: 14px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../icons/noti.svg);
}

.icon-helpmenu {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-position: center;
    background-size: 24px;
    background-repeat: no-repeat;
    overflow: unset;
    cursor: pointer;
    background-image: url(../icons/help_menu.svg);
}

.icon-other {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-position: center;
    background-size: 24px;
    background-repeat: no-repeat;
    overflow: unset;
    cursor: pointer;
    background-image: url(../icons/other.svg);
}

.icon-btn-table {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #d1d5db;
    border-radius: 4px;
    background: white;
    cursor: pointer;
    color: #6b7280;
}

.icon-btn-table:hover {
    background: #f9fafb;
}

.btn-icon-add {
    mask-position: -20px -656px;
    background-color: #fff;
}

.btn-icon-down {
    mask-position: -32px -48px;
    background-color: #fff;
}

.icon-setting-columns {
    mask-position: -24px -608px;
    background-color: #6b7280;
}

.icon-interactive-history {
    mask-position: 0 -844px;
    background-color: #6b7280;
}

.icon-export-history {
    mask-position: -60px -656px;
    background-color: #6b7280;
}


.icon-next {
    mask-position: -40px -696px;
    background-color: #6b7280;
}

.icon-prev {
    mask-position: -60px -696px;
    background-color: #6b7280;
}

.icon-prev.disabled,
.icon-next.disabled {
    opacity: 0.5 !important;
    pointer-events: none !important;
    cursor: default !important;
}


.icon-update-user {
    width: 20px;
    height: 20px;
    min-width: 20px;
    mask-image: url(../../assets/icons/ICON.svg);
    mask-repeat: no-repeat;
    mask-position: -180px -656px;
    background-color: #6b7280;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s ease;
}